* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family:Overpass;
    background-color: hsl(216, 12%, 8%);
}

.container {
    width: 30%;
    margin: 10rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color:  hsl(213, 19%, 18%);

}
.star{
    width: 45px;
    height: 8vh;
    padding: 2px; 
    background-color:hsl(216, 12%, 8%);
    align-items: center;
    text-align: center;
    border-radius:100%;
}
.star img{
    width: 15px;
    margin-top: .7rem;
}
h4{
    margin: 1.5rem 0;
}
.p-text{
    font-size: 15px;
    margin-bottom:1rem;
    color: hsl(216, 12%, 54%) ;

}
#button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: .7rem; */
    /* padding: 1rem; */
}

#button  span{
    display:flex;
    justify-content:center;
    width: 45px;
    height: 8vh;
    padding: 2px; 
    background-color:hsl(216, 12%, 8%);
    align-items: center;
    text-align: center;
    border-radius:100%; 
    cursor: pointer;
}
#button span:hover{
    color: white;
    background-color:hsl(25, 97%, 53%);
}

.rate{
    color: hsl(216, 12%, 54%) ;
    text-align: center;
    align-content: center;
    /* margin: .54rem auto; */
    /* margin-top: rem ; */
}
#submit-btn{
    width: 100%;
    padding: .5rem;
    margin: 1rem auto;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}

#submit-btn:hover{
    background-color: aliceblue;
    color:hsl(25, 97%, 53%);
}


@media (min-width: 375px) {
    .container {
    width: 80%;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color:  hsl(213, 19%, 18%);
    }    
}   
    
