* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 15px;
    font-family: Overpass;
    background-color: hsl(216, 12%, 8%);
}

.container, .container-thanks {
    width: 10rem;
    margin: 6rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    /* hsl(213, 19%, 18%) */

}

.star {
    width: 45px;
    height: 45px;
    padding: 2px;
    background-color: hsl(217, 11%, 14%);
    align-items: center;
    text-align: center;
    border-radius: 100%;
}

.star img {
    width: 15px;
    margin-top: .7rem;
}

h4 {
    margin: 1.5rem 0;
}

.p-text {
    font-size: 15px;
    margin-bottom: 1rem;
    color: hsl(216, 12%, 54%);

}

#button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: .7rem; */
    /* padding: 1rem; */
}
.rate {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 2px;
    background-color: hsl(213, 15%, 14%);
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.rate:hover {
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.rate:focus{
    color: #fff;
    background-color:hsl(217, 12%, 63%);
    transition: 0.3s;
}

.rate {
    color: hsl(216, 12%, 54%);
    text-align: center;
    align-content: center;
}

.button-sub {
    width: 100%;
    padding: .5rem;
    margin: 1rem auto;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
}

.button-sub:hover {
    background-color: aliceblue;
    color: hsl(25, 97%, 53%);
}

footer{
    padding: 1rem;
    /* font-size: ; */
    text-align: center;
}

.container-thanks .img-svg{

    padding: .5rem;
    text-align: center;
}
.container-thanks .ratedValue{
    width: 60%;
    text-align: center;
    padding: .3rem;
    margin: 5px auto;
    color: hsl(25, 97%, 53%);
    border-radius: 15px;
    background-color:  hsl(213, 15%, 23%);
    font-weight: bold;
    font-size: 13px;
}
.container-thanks p{
    color:hsl(216, 12%, 54%) ;
    text-align: center;
    padding: .5rem;
}
.container-thanks h4{
    margin: .5rem auto;
    text-align: center;
}
.hidden{
    display: none;
}
@media (max-width: 380px) {
    .container,.container-thanks {
        width: 90%;
        margin: 5rem auto;
        padding: 1rem;
        border-radius: 20px;
        background-color: hsl(213, 19%, 18%);
    }
}

@media(max-width:780px){
    .container,.container-thanks {
        width: 60%;
        margin: 5rem auto;
        padding: 1rem;
        border-radius: 20px;
        background-color: hsl(213, 19%, 18%);
    }
}
